/*----------------------
    CONTAINERS
-----------------------*/
.wrapper-small {
    width: 60%;
    margin: auto;
}

/*----------------------
    COLORS
-----------------------*/

.aquamarine {
    background-color: #19BC9C;
}
.header-footer-color {
    background-color: #2C3E4F;
}
.footer-up-color {
    background-color: #3b536d;
}

/*----------------------
    TYPO
-----------------------*/
h2 {
    text-align: center;
}

/*----------------------
    HEADER
-----------------------*/
header {
    color: #fff;
}

/*----main-menu----*/
.main-nav ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    gap: 0 10px;
    margin-bottom: 0px;
}

a{
    text-decoration: none;
}

.main-menu-text{
    color: white;
    font-size: 14px;
}
/*----/main-menu----*/

/*----logo----*/
.logo{
    font-size: 20px;
    font-weight: bold;
}
/*----/logo----*/


/*----------------------
    MAIN
-----------------------*/

/*------hero------*/
.hero {
    color: #fff;
    text-align: center;
}

.img-hero{
    width: 200px;
    height: 200px;
}

.hero-line{
    height: 3px;
    border-radius: 10px;
    width: 150px;
}

.star-line-symbol{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px auto;
    align-items: center;
}

.symbol-white{
    background-color: white;
}

.symbol-black{
    background-color: black;
}

.fa-star{
 font-size: 20px;
 padding: 0 10px;
}
/*------hero------*/


.portfolio img {
    width: 100%;
}

.about {
    color: #fff;
}

/*----------------------
    FOOTER
-----------------------*/
footer {
    color: #fff;
    text-align: center;
}